<%= content_for :title, "Thamel Remit" %>
<%= render 'shared/header_big' %>

<div class="page-header negative u-marginbottom-40">
  <div class="w-container">
    <h1 class="fontsize-largest u-text-center">
      Thamel Remit
    </h1>
  </div>
</div>

<div class="section-one-column">
  <div class="w-container">
    <p class="fontsize-base u-marginbottom-60">
     Please Transfer your contribution to this bank account <b>2187697990524001</b> <br>
     Feel this info in the recipients <br>
     <%= image_tag "thamel_remit.png", class: "u-marginbottom-20" %><br><hr>
     <a href="https://thamelremit.machpay.com/index" target="__blank">Click here</a> to be redirected to Thamel Remit. <br>
      After you finish contributing, please email us at <b>contact@grasruts.com</b>
    </p>
  </div>
</div>L

<%= render 'shared/footer_big' %>
