- content_for :title, "Supported Banks"
= render 'shared/header_big'

.page-header.negative.u-marginbottom-40
.w-container
h1.fontsize-largest.u-text-center Supported Banks

.section-one-column
  .w-container
    p.fontsize-base [NOTE: Please give us a call at 9813725427  or email us at contact@grasruts.com or reach us at our social medias after you finish depositing the money. We will verify the transaction within two business days.]
    p.fontsize-base.u-marginbottom-60 = t('.content.explanation_text_cont').html_safe

    .headline = t('.content.email')
    p.fontsize-base.u-marginbottom-60 = t('.content.email_text').html_safe

    .headline = t('.content.update')
    p.fontsize-base.u-marginbottom-60 = t('.content.update_text').html_safe

= render 'shared/footer_big'
