<%= content_for :title, "Supported Banks" %>
<%= render 'shared/header_big' %>

<div class="page-header negative u-marginbottom-40">
  <div class="w-container">
    <h1 class="fontsize-largest u-text-center">
      Supported Banks
    </h1>
  </div>
</div>

<div class="section-one-column">
  <div class="w-container">
    <div class="headline">
      <font><font>List of Banks that we support</font></font>
    </div>
    <p class="fontsize-base u-marginbottom-60">
      <font><font><b>[Note: After depositing the money, please do call us at 9813725427 or email us at contact@grasruts.com or reach us through our social media.]</b></font></font><hr>
      Nepal Investment Bank Limited(NIBL): 23432432423432
      <hr>
      Nabil Bank Limited: 23432432432
    </p>
  </div>
</div>L

<%= render 'shared/footer_big' %>
